.controle-slide{
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.controle-slide-item{
    background: none;
    color: #8c93a1;
    margin: 0 .3rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .controle-slide-item.active{
    color: #fff;
  }